body
{
	background-color:rgb(200,200,200);
}
#container
{

}
#arduinoPic
{
	
}
#canvasDiv
{
	margin-left:auto;
	margin-right:auto;
	max-width:350px;
	max-height:450px;
	padding:1em;
	text-align:center;
	background-color:black;
}
#copyZone
{
	margin-left:auto;
	margin-right:auto;
	max-width:350px;
	max-height:450px;
	width:350px;
	height:450px;
	padding:1em;
	text-align:left;
	background-color:rgb(210,210,210);
}
#pinTable
{
	margin-left:auto;
	margin-right:auto;
}
#bigTable
{
	margin-left:auto;
	margin-right:auto;
}
#delay
{
	font-size:200%;
	border: 3px solid black;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background-color:rgb(20,20,240);
	padding:2px;
}
#delay:hover
{
	background-color:rgb(20,20,200);
}
#start
{
	font-size:200%;
	border: 3px solid black;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background-color:rgb(200,200,20);
	padding:2px;
}
#start:hover
{
	background-color:rgb(180,180,20);
}
#stop
{
	font-size:200%;
	border: 3px solid black;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background-color:rgb(255,170,75);
	padding:2px;
}
#stop:hover
{
	background-color:rgb(225,140,35);
}
#delayAmt
{
	width:4em;
}
.topButton
{
	margin-top: 2px;
	margin-bottom: 2px;
}
.switches
{	
	font-size:150%;
	border: 3px solid black;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background-color:rgb(80,80,80);
	padding:2px;
}
.high
{
	max-width:8em;
	padding:3px;
	text-align:center;
	background-color:rgb(20,200,20);
	margin-bottom:1px;
}
.high:hover
{
	background-color:rgb(0,150,0);
}
.low
{
	max-width:8em;
	padding:3px;
	text-align:center;
	background-color:rgb(200,20,20);
	margin-top:1px;
}
.low:hover
{
	background-color:rgb(150,0,0);
}
.pinHead
{
	te
}
.centerDiv
{
	margin-left:22px;
	margin-right:auto;
	
}